<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.akshay.cart">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.ProductDispaly" />
        <activity android:name=".Activity.CartDisplay" />
        <activity android:name=".AddData.AddProduct" />
        <activity android:name=".Registration.RegisterActivity" />

        <receiver
            android:name=".BroadcastReceiver.MyReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="is_increment" />
                <action android:name="is_decrement" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".Fragments.Main2Activity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme" />
    </application>

</manifest>